/* src/App.css */

.app-wrapper {
  opacity: 0;
  transition: opacity 0.4s ease-in;
  background-color: transparent;
  min-height: 100vh;
}

.app-wrapper.visible {
  opacity: 1;
}

.scroll-container {
  margin-top: 100vh;
  position: relative;
  z-index: 2;
}

.content-wrapper {
  background-color: var(--color-background-light);
}

/* --- NUEVOS ESTILOS PARA PÁGINAS INTERNAS --- */
.page-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: var(--color-background-light);
}

.page-wrapper main {
  flex-grow: 1; /* Asegura que el main ocupe el espacio disponible */
}